.listings__details {
display: flex;
justify-content: space-between;
margin-top: auto;
}
  .listings__price {
text-align: right;
display: flex;
flex-direction: column;
}
  .listings__price__night {
font-size: 18px;
font-family: 'Circular Bold';
margin-bottom: 30%;
}
  .listings__price__night span {
  margin-bottom: 0;
}
  .listings__price__total {
font-size: 14px;
color: var(--grey-text-light);
text-decoration: underline;
margin-top: 2px;
}
  .listings__rating {
display: flex;
margin-top: auto;
}
  .listings__rating img {
width: 25px;
margin-right: 4px;
}
  .listings__rating span {
font-family: 'Circular Medium';
}
  .listings__rating span span {
font-family: 'Circular Book';
color: var(--grey-text-light);
}
  .listings__description {
padding-top: 15px;
}
  .listings__description span {
display: block;
margin-bottom: 5px;
}
  .listings__item {
border-top: 1px solid #ebebeb;
padding: 24px 0;
display: flex;
}
  .listings__item:hover .listings__image button {
opacity: 0.7;
}
  .listings__image {
width: 300px;
height: 200px;
border-radius: 10px;
overflow: hidden;
position: relative;
}
  .listings__image-superHost:before {
position: absolute;
content: 'SUPERHOST';
background: white;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
border-radius: 4px;
padding: 4px 8px;
top: 10px;
left: 10px;
letter-spacing: 0.48px;
font-size: 12px;
font-family: 'Circular Medium';
text-transform: uppercase;
}
  .listings__image button {
position: absolute;
top: 50%;
width: 32px;
height: 32px;
background: white;
border-radius: 50%;
overflow: hidden;
padding: 0;
display: flex;
align-items: center;
justify-content: center;
border: none;
opacity: 0;
transition: 0.1s ease-in;
cursor: pointer;
}
  .listings__image button:hover {
opacity: 1 !important;
}
  .listings__image button img {
width: 10px;
height: 10px;
}
  .listings__image button:first-of-type {
left: 10px;
}
  .listings__image button:last-of-type {
right: 10px;
}
  .listings__image img {
object-fit: cover;
height: 100%;
width: 100%;
}
  .listings__title {
display: flex;
justify-content: space-between;
flex-direction: column;
margin-bottom: 15%;
}
  .listings__title button {
background: none;
border: none;
outline: none;
position: relative;
display: flex;
align-items: center;
justify-content: center;
position: relative;
padding: 0;
cursor: pointer;
}
  .listings__title button:hover:after {
opacity: 1;
}
  .listings__title button:after {
opacity: 0;
background: var(--grey-light);
position: absolute;
content: '';
width: 48px;
height: 48px;
border-radius: 50%;
z-index: -1;
}
  .listings__title h2 {
font-size: 18px;
font-family: 'Circular Book';
color: var(--grey-text-dark);
margin: 5px 0 15px;
font-weight: 400;
}
  .listings__content {
width: calc(100% - 300px);
padding-left: 15px;
display: flex;
flex-direction: column;
}
  .greyText {
font-size: 12px;
line-height: 18px;
color: #1976d2;
font-family: 'Circular Light';
}


.search-Container {
  background-color: #FAF9F6	;
  text-align: center;
  width: 40%;
  margin: auto;
  padding: 1%;
}

.search-fields {
  display: flex;
  flex-direction: column;
}

.date-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}